g() {
   if [ "$1" = "stage" ]; then
      git-add
   elif [ "$1" = "fak" ]; then
      git-fixup
   elif [ "$1" = "sha" ]; then
      git-sha
   elif [ "$1" = "switch" ]; then
      git-switch-branch
   elif [ "$1" = "wormhole" ]; then
      git-rebase
   else
      command git "$@"
   fi
}
